<div class="login-container">

    <div class="left-section">

        <div class="logo">
            <i class="pi pi-graduation-cap"></i>
            <span>EduPortal</span>
        </div>

        <span class="tagline">
            🚀 Empowering Learners Worldwide
        </span>

        <h1>
            Learn Without Limits,
            <br>
            Achieve <span>Your Dreams</span>
        </h1>

        <p class="description">
            Join thousands of students learning from expert instructors and build
            the skills needed to achieve your goals.
        </p>

        <div class="feature-list">

            <div class="feature-item">
                <i class="pi pi-book"></i>

                <div>
                    <h4>Expert-Led Courses</h4>
                    <p>Learn from experienced instructors.</p>
                </div>
            </div>

            <div class="feature-item">
                <i class="pi pi-clock"></i>

                <div>
                    <h4>Flexible Learning</h4>
                    <p>Study whenever it suits your schedule.</p>
                </div>
            </div>

            <div class="feature-item">
                <i class="pi pi-chart-line"></i>

                <div>
                    <h4>Track Progress</h4>
                    <p>Stay motivated and monitor your achievements.</p>
                </div>
            </div>

        </div>

        <div class="student-image">
            <!-- <img
                src="assets/images/student.png"
                alt="Student"> -->
        </div>

        <div class="stats">

            <div class="stat-box">
                <h2>1000+</h2>
                <span>Courses</span>
            </div>

            <div class="stat-box">
                <h2>10K+</h2>
                <span>Students</span>
            </div>

            <div class="stat-box">
                <h2>500+</h2>
                <span>Instructors</span>
            </div>

        </div>

    </div>

    <div class="right-section">

        <p-card>

            <h2>Welcome Back! 👋</h2>

            <p class="sub-title">
                Sign in to continue your learning journey.
            </p>

                            <form
                [formGroup]="loginForm"
                (ngSubmit)="onLogin()">

                <!-- Email -->
                <div class="form-field">
                    <label for="email">Email</label>

                    <input
                    pInputText
                    id="email"
                    type="email"
                    
                    formControlName="email"
                    placeholder="Enter your registered email"
                    autocomplete="email">

                    @if (
                    loginForm.get('email')?.touched &&
                    loginForm.get('email')?.hasError('required')
                    ) {
                    <small class="error-message">
                        Email is required.
                    </small>
                    }

                    @if (
                    loginForm.get('email')?.touched &&
                    loginForm.get('email')?.hasError('email')
                    ) {
                    <small class="error-message">
                        Please enter a valid email address.
                    </small>
                    }
                </div>

                <!-- Password -->
                <div class="form-field">
                    <label for="password">Password</label>

                     <p-password
                        formControlName="password"
                        [feedback]="false"
                        [toggleMask]="true"
                        placeholder="Enter your password"
                        [feedback]="false"
                        [toggleMask]="true"
                        [fluid]="true">
                    </p-password>

                    @if (
                    loginForm.get('password')?.touched &&
                    loginForm.get('password')?.hasError('required')
                    ) {
                    <small class="error-message">
                        Password is required.
                    </small>
                    }
                </div>

                <!-- Remember me -->
                <div class="options">
                    <div class="remember">
                    <p-checkbox
                        inputId="rememberMe"
                        formControlName="rememberMe"
                        [binary]="true">
                    </p-checkbox>

                    <label for="rememberMe">
                        Remember me
                    </label>
                    </div>

                    <a routerLink="/forgot-password">
                    Forgot Password?
                    </a>
                </div>

                <!-- Backend login error -->
                @if (loginErrorMessage) {
                    <div class="login-error">
                    {{ loginErrorMessage }}
                    </div>
                }

                <!-- Login button -->
                <button
                    pButton
                    type="submit"
                    class="login-btn w-full"
                    [loading]="loggingIn"
                   >

                    {{ loggingIn ? 'Logging in...' : 'Login' }}
                </button>

                </form>

            <p-divider align="center">
                Or continue with
            </p-divider>

            <button
                pButton
                type="button"
                class="social-btn p-button-outlined">

                <!-- <img
                    src="assets/icons/google.png"
                    alt="Google"> -->

                <span>Continue with Google</span>

            </button>

            <button
                pButton
                type="button"
                class="social-btn p-button-outlined">

                <!-- <img
                    src="assets/icons/microsoft.png"
                    alt="Microsoft"> -->

                <span>Continue with Microsoft</span>

            </button>

            <p class="register-text">
                Don't have an account?
                <button
                    type="button"
                    class="register-link"
                    (click)="goToRegister()">
                    Register Now
                </button>
            </p>

        </p-card>

    </div>

</div>