<p>ng-for works!</p>
<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>


<div class="col-5">
    <button *ngFor="let cityName of cityList"  class="btn btn-success mx-1">

      {{cityName}}

    </button>
</div>
<div class="col-3">
    <div *ngFor="let city of cityList">
        <span>{{city}}</span>
    </div>
</div>





<!--ng for using drop down -->
<div class="row">
    <div class="col-3">
        <select>
            <option *ngFor="let emp of employeeArray" [value]="emp.empdId">{{emp.name}} - {{emp.city}}</option>
        </select>
    </div>
</div>
<div class="col-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr NO</th>
                <th>Name</th>
                <th>Mobile nO</th>
                <th>cITY</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeArray;let srno = index">
                <td>{{srno+1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.city}}</td>
                <td>{{emp.contactNo}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>



