
@import "primeicons/primeicons.css";
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('/assets/images.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}