<p>ng-if works!</p>
<div class="row">
    <div class="col-3">

        <div class="bg-success p-3" *ngIf="div1Visible">
            Div 1
        </div>
    </div>
   <div class="col-3">
    <div class="bg-primary p-3" *ngIf="number1 == number2 ">
        Div2
    </div>
   </div>
</div>



<div class="row pt-2">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
        <button class="btn btn-success mx-3"  (click)="showDiv1()">Show</button>

    </div>

    <div class="col-3">
        <input type="text" [(ngModel)]="number1" />
        <input type="text" [(ngModel)]="number2" />

    </div>



</div>
